<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property scope="local" name="LOG_HOME" value="./logs/lite-rpc"/>
    <property scope="local" name="LOG_LEVEL" value="INFO"/>
    <property scope="local" name="LOG_ENCODE" value="UTF-8"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{YYYY-MM-dd HH:mm:ss} %highlight(%-5p) [%thread] [%c{1}:%L] | %msg%n</pattern>
            <charset>${LOG_ENCODE}</charset>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>